<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Aliaksandr Kavalchuk"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".automobiles.AutomobilesActivity" />
        <activity android:name=".sales.SaleActivity" />
        <activity android:name=".automobiles.AutomobileActivity" />
        <activity android:name=".producers.ProducerActivity" />
        <activity android:name=".producers.ProducersActivity" />
        <activity android:name=".sales.SalesActivity" />
        <activity android:name=".automobiles.AddAutomobileActivity" />
        <activity android:name=".producers.AddProducerActivity" />
        <activity android:name=".sales.AddSaleActivity" />
        <activity android:name=".RequestActivity" />
    </application>

</manifest>